<div class="container">
  <div class="row equal">
    <div *ngFor="let user of users" class="col-lg-3 col-md-3 col-sm-4">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>