<div *ngIf="!registerMode" style="text-align:center">
  <h1>
    Find your match!
  </h1>
  <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" (click)="activateRegisterMode()">Register</button>
    <button class="btn btn-info btn-lg">Learn More...</button>
  </div>
</div>

<div *ngIf="registerMode" class="container">
    <div class="col-md-4 col-md-offset-4">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
</div>
